@font-face {
    font-family: Netflix;
    src: url('../../fonts/AvenirNextLTPro-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    font-family: 'Netflix';
    padding-bottom: 108px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.header{
   padding: 15px;
   position: relative;
   z-index: 2;
   background-image: linear-gradient( to bottom, black 0% ,black 80%, transparent 100% );
}

.item-navegacion{
    list-style: none;
    text-align: center;
}

.navegacion{
    padding: 0;
    margin: 0;
    display: grid;
    grid-auto-columns: 100px;
    grid-auto-flow: column;
    justify-content: space-around;
}

.panel-reproducir{
    margin-top: -90px;
    position: relative;
    overflow: hidden;
    }

.panel-reproducir .fondo{
    width: 100%;
}

.titulo{
  
height: 600px;
margin-top: -500px;
text-align: left;
}

.detalles{
text-align: left;
margin-top: -8%;
position: relative;
bottom: 0;
left: 0;
right: 0;
background-image: linear-gradient(to top, black 0%, black 40%, transparent 100%);




}


.acciones{
display: grid;   
justify-content: center;
align-items: center;
grid-auto-flow: 50px;


}

button{
width: 1400px;
height: 40px;
grid-auto-flow: 50%;
border: none;
border-radius: 3px;
justify-content: center;
}




.Rep{    
color: black;    
background-color: white;
margin-bottom: 12px; 
display: flex; 
cursor: pointer;  
font-size: 1.1em;
align-items: center;
}

.Des{
color: azure;    
background-color: gray;
margin-bottom: 14px;
cursor: pointer; 
font-size: 1.1em;
align-items: center;
display: flex;
}


.Rep::before{
    content: '';
    display: inline-block;
    height: 25px;
    width: 25px;
    align-items: center;
    background-image: url(../../images/icons/play.svg);
}   
    



.Des::before{
content: '';
display: inline-block;
height: 25px;
width: 25px;
background-image: url(../../images/icons/download.svg);    
}

.descripcion{
   font-size: 1.1em; 
   margin: auto;
}

.footer{
position: fixed;
bottom: 0;
left: 0;
right: 0;
background: black;
padding: 1em 0 0;


}

.list-content{
 white-space: nowrap;
 overflow-x: auto;
 cursor: pointer;
 border-radius: 16px;
 
}

.list-item{
display: inline-block;
margin-left: 10px;
object-fit: cover;
transition: transform 0.8s;
}

.list-item:hover{
transform: scale(1.1);

}

.list-item:first-child{
  margin: 0;  
}

.list{

 padding: 0 1em;
}
.tab-list {
margin: 0;
padding: 0;
display: grid;
grid-auto-flow: column;
list-style: none;
color:gray;
padding-bottom: 1em;
}

.tab-list a{
    color: gray;
}

.tab-item{
 text-align: center;
 font-size: .9em;

}

.list-content::-webkit-scrollbar{
    display: none;
}

.tab-item svg{
    display: block;
    margin: auto;
}

.tab-item path{
fill:gray;

}

.tab-item:hover :is(path,span) {
    fill: white;
    color: white;
}

@media (max-width:1280px){
    .featured .titulo{
        width: 100%;
        text-align: center;
    }
}